@import "vars"
@import "fonts"
@import "libs"
@import "btn"
@import "normalize"

.grid-items
  border: 1px solid black

body
  max-width: 1280px
  width: 100%
  margin: auto

.general-container
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: repeat(8, 1fr)
  grid-row-gap: 20px



@import "media" // Always at the end
